body {
	background-color: #e3e3e3;
}

.header_ocw {
	height: 100px;
	//background-color: blue;
	padding-top: 20px;
	margin-bottom: -12px;
}

.login {
	margin-top: 50px;
}

.login a {
	font-family: "Segoe UI";
	text-decoration: none;
	background-color: #fff;
	padding: 10px 10px 10px 10px;
}

.login a:hover {
	color: #868686;
}

.search {
	width: 100%;
	height: 40px;
	background-color: #898183;
}

.ok, .go {
	font-family: "Segoe UI";
}

.ok {
	//background-color: brown;
	margin: 0;
}

.go {
	margin-top: 8px;
}

.ok ul#nav {
	font-size: 12pt;
	font-weight: 600;
	margin: 0 0 0 0;
	padding-left: 0;
	list-style: none;
	display: inline-table;
}

.ok ul#nav li {
	position: relative;
	float: left;
	width: 130px;
	height: 36px;
	text-align: center;
	line-height: 23px;
	padding: 0 0 0 0;
	margin:auto;
}

.ok ul#nav li a {
	padding-top: 8px;
	display: block;
	text-decoration: none;
	height: 30px;
	color: #fff;
}

.ok ul#nav li a:hover {
	color: #fff;
	background-color: #4d4446;
}

/*----------------------------------------- =submenu ---------------- */


.hasChildren {
	position: absolute;
	right: 0;
	bottom: 0;
}

.ok ul#nav li ul {
	background-color: #e3e3e3;
	width: 250px;
	list-style: none;
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	padding: 0; margin: 0;
}

.ok ul#nav li:hover > ul {
	padding: 0;
	margin: 0;
	display: block;
}

.ok ul#nav li ul li, .ok ul#nav li ul li a {
	margin: 0;
	padding: 0;
	float: none;
}

.ok ul#nav li ul li a {
	color: #1b1b1b;
	padding: 0;
	margin: 0;
	width: 250px;
	display: block;
}

.slider {
	width: 940px;
    height: 400px;
    background-color: #154493;
    list-style: none;
    overflow: hidden;
}

.isiKiri {
	margin: 0;
	padding: 0;
	//height: 400px;
}

.isiKanan {
	//height: 400px;
	
}

.isiKanan,
.isiKiri {
	background-color: #fff;
}

/* --------------------- =RIBBON ----------------------------------------- */

.ribbon-wrapper {
	position: relative;
}
  .ribbon-front {
	background-color: #a0242c;	height: 45px;
	width: 545px;
	position: relative;
	left:-5px;
	z-index: 2;
}

  .ribbon-front,
  .ribbon-back-left,
  .ribbon-back-right
{
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright,
  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
	position: absolute;
	z-index: 1;
	border-style:solid;
	height:0px;
	width:0px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright {
}

  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
	top: 45px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-bottomleft {
	left: -5px;
	border-color: transparent #a0242c transparent transparent;
}

  .ribbon-edge-topleft {
	top: 0px;
	border-width: 0px 5px 0 0;
}
  .ribbon-edge-bottomleft {
	border-width: 0 5px 3px 0;
}

  .ribbon-edge-topright,
  .ribbon-edge-bottomright {
	left: 560px;
	border-color: transparent transparent transparent #a0242c;
}

  .ribbon-edge-topright {
	top: 0px;
	border-width: 0px 0 0 5px;
}
  .ribbon-edge-bottomright {
	border-width: 0 0 3px 5px;
}

  .ribbon-back-left {
	position: absolute;
	top: 3px;
	left: 0px;
	width: 0px;
	height: 45px;
	background-color: #2b2121;	z-index: 0;
}

  .ribbon-back-right {
	position: absolute;
	top: 3px;
	right: 0px;
	width: 0px;
	height: 45px;
	background-color: #2b2121;	z-index: 0;
}

.ribbon-wrapper .ribbon-front h1 {
	color: #fff;
	font-family: "Segoe UI";
	font-weight: 600;
	font-size: 16pt;
	padding-top: 8px;
	padding-left: 7px;
}

/*-------------------------------------------------- = RIBBON2 -------------------------*/

.ribbon-wrapper2 {
	position: relative;
}
  .ribbon-front2 {
	background-color: #a0242c;	height: 45px;
	width: 305px;
	position: relative;
	left:0px;
	z-index: 2;
}

  .ribbon-front2,
  .ribbon-back-left2,
  .ribbon-back-right2
{
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}

  .ribbon-edge-topleft2,
  .ribbon-edge-topright2,
  .ribbon-edge-bottomleft2,
  .ribbon-edge-bottomright2 {
	position: absolute;
	z-index: 1;
	border-style:solid;
	height:0px;
	width:0px;
}

  .ribbon-edge-topleft2,
  .ribbon-edge-topright2 {
}

  .ribbon-edge-bottomleft2,
  .ribbon-edge-bottomright2 {
	top: 45px;
}

  .ribbon-edge-topleft2,
  .ribbon-edge-bottomleft2 {
	left: -5px;
	border-color: transparent #a0242c transparent transparent;
}

  .ribbon-edge-topleft2 {
	top: 0px;
	border-width: 0px 5px 0 0;
}
  .ribbon-edge-bottomleft2 {
	border-width: 0 5px 3px 0;
}

  .ribbon-edge-topright2,
  .ribbon-edge-bottomright2 {
	left: 300px;
	border-color: transparent transparent transparent #a0242c;
}

  .ribbon-edge-topright2 {
	top: 0px;
	border-width: 0px 0 0 5px;
}
  .ribbon-edge-bottomright2 {
	border-width: 0 0 3px 5px;
}

  .ribbon-back-left2 {
	position: absolute;
	top: 3px;
	left: 0px;
	width: 0px;
	height: 45px;
	background-color: #2b2121;	z-index: 0;
}

  .ribbon-back-right2 {
	position: absolute;
	top: 3px;
	right: 0px;
	width: 0px;
	height: 45px;
	background-color: #2b2121;	z-index: 0;
}

.ribbon-wrapper2 .ribbon-front2 h1 {
	color: #fff;
	font-family: "Segoe UI";
	font-weight: 600;
	font-size: 16pt;
	padding-top: 8px;
	padding-left: 7px;
}


/* ----------------------------------------------- =RK -------------------------------- */

.rk {
	position: relative;
	height: 170px;
	display: inline-table;
}

.rk img {
	float: left;
	margin: 12px 5px 0 5px;
}

.rk p {
	margin-top: 10px;
	font-size: 10pt;
	margin-left: 6px;
}

.rk span {
	font-style: italic;
	position: absolute;
	bottom: 15px;
	right: 15px;
}

.rk a {
	text-decoration: none;
	color: #1b1b1b;
}

.rk a:hover {
	color: #a6a6a6;
}

/*
	------------------------------------------	=rightContent-------------------------------
*/

.rightContent {
	font-family: "Segoe UI";
	width: 340px;
	height: auto;
	//background-color: #e6e7e7;
	margin: 0;
	//position: absolute;
	
}

.rightContent ul {
	list-style: none;
	font-size: 11pt;
}

.rightContent ul li {
	margin-top: 12px;
}

.rightContent ul li a {
	text-decoration: none;
	color: #1b1b1b;
}

.rightContent ul li a:hover {
	color: #a6a6a6;
}

.rightContent h4 {
	text-align: center;
}

.rightContent h4 a {
	text-decoration: none;
	color: #1b1b1b;
}

.rightContent h4 a:hover {
	text-decoration: none;
	color: #a6a6a6;
}

/*
	------------------------------------------	=kaki-------------------------------
*/

.kaki {
	font-family: "Segoe UI";
	color: #fff;
	width: 100%;
	background-color:#a0242c;
	height:255px;
}

 .menuFooter {
 	margin-top: 10px;
 	height: 120px;
	//background-color: blue;
}

.menuFooter ul, .menuFooter li {
	list-style: none;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.menuFooter ul li a {
	text-decoration: none;
	color: #fff;
}

.menuFooter ul li a:hover {
	text-decoration: none;
	color: #a6a6a6;
}

.kaki2 {
	bottom: 0px;
	width: 100%;
	padding: 0;
	margin-left: 0;
	background-color:#2b2121;
	height:40px;
}

/* ---------------------------- =breadcumbs ----------------------- */

.breadcumbs {
	font-family: Segoe UI;
	padding-top: 12px;
	width: 780px;
	height: auto;
	//background-color: #fff;
}

.breadcumbs a {
	text-decoration: none;
	color: #000;
}

.breadcumbs a:hover {
	color: #848688;
}

/*----------------------------- =wrapper ------------------------------*/

.wrapper {
	background-color: #fff;
	padding-left: 10px;
	padding-right: 10px;
}