.wrapper img {
	float: left;
	margin: 0px 5px 0 5px;
}

.wrapper p {
	margin-left: 10 px;
}

.wrapper h3 {
	font-family: Segoe UI;
}

.wrapper ul li a {
	font-family: Segoe UI;
	color: red;
}

.wrapper ul li a:hover {
	color: orange;
}